/* #region Utilities */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dropbox-dark: rgba(0, 0, 0, 1);
  --dropbox-light: rgba(180, 208, 231, 1);
  --dropbox-lighter: rgba(255, 255, 255, 1);
  --dropbox-accent: rgba(0, 97, 255, 1);
}

/* #endregion Utilities */

/* #region Common rules */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 4.5rem;
  font-weight: 800;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* #region Flex rules */
.d_flex {
  display: flex;
}

.flex_wrap {
  flex-wrap: wrap;
}

.flex_column {
  flex-direction: column;
}

.flex_mirror {
  flex-direction: row-reverse;
}

.flex_items_center {
  justify-content: center;
  align-items: center;
}

.flex_space_around {
  justify-content: space-around;
  align-items: center;
}

.flex_space_between {
  justify-content: space-between;
  align-items: center;
}

.flex_spacing {
  gap: 3rem;
}

/* #endregion Flex rules */

.background {
  width: 100%;
}

.bg_color_dark {
  background-color: var(--dropbox-dark);
}

.bg_color_light {
  background-color: var(--dropbox-light);
}

.bg_color_lighter {
  background-color: var(--dropbox-lighter);
}

.container_large {
  width: 98%;
  max-width: 1900px;
  margin: auto;
}

.container_medium {
  width: 1200px;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.container_small {
  width: 1000px;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.banner+.container_small {
  margin-top: 2.5rem;
}

.links {
  list-style: none;
  justify-content: space-around;
}

.links a {
  color: var(--dropbox-dark);
}

.btn {
  border: none;
  background-color: var(--dropbox-accent);
  color: var(--dropbox-lighter);
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}


/* #endregion Common rules */

/* #region Debug */

#site_header {
  height: 85px;
}

#site_main * {
  border: 1px dashed;
}

#site_footer * {
  border: 1px dashed;
}

.section_510px {
  height: 510px;
}

.section_680px {
  height: 680px;
}

.section_850px {
  height: 850px;
}

.section_1700px {
  height: 1700px;
}

.container_3 {
  width: calc((100% / 12) * 3);
  height: 425px;
  background-color: lightslategray;
}

.container_4 {
  width: calc((100% / 12) * 4);
  height: 425px;
  background-color: lightslategray;
}

.container_8 {
  width: calc((100% / 12) * 8);
  height: 425px;
  background-color: lightyellow;
}

.dropbox_partner .container_8 {
  height: 540px;
}

.container_9 {
  width: calc((100% / 12) * 9);
  height: 425px;
  background-color: lightyellow;
}

/* #endregion Debug */

/* #region Header */
/* #endregion Header */

/* #region Main */

/* #region Banner */
.banner .container_medium {
  margin-bottom: -5rem;
}

/* #endregion Banner */

/* #region Sales office */
.team_icon {
  text-align: center;
  padding: 0.7rem 0;
}

/* #endregion Sales office */

/* #endregion Main */

/* #region Footer */
/* #endregion Footer */